<div th:fragment="modalAdd" class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel " aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addCinemaModalLabel">Thêm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <!-- Input -->
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">Tên</span>
                        <input id="NAME" type="text" class="form-control" placeholder="Title of movie">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">Loại</span>
                        <input id="TYPE" type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">Giá</span>
                        <input id="PRICE" type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">Số lượng</span>
                        <input id="QUANTITY" type="text" class="form-control">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="">Hạn sử dung</span>
                        <input id="EXPIRY_DATE" type="date" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="add" type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirm</button>
                </div>
            </form>
        </div>
        <input type="hiden" style="display: none;" name="" id="action" value="Add">
    </div>
</div>
