<!-- Main -->
<div th:fragment="Content" class="container">
    <div id="changepassword-main" class="my-5 p-3 text-white rounded-4">
        <h2 class="text-uppercase text-yellow text-center">Đổi mật khẩu</h2>
        <form id="change-password-form" action="api/users/change-password" method="post">
            <input type="hidden" name="tb" value="Client">
            <table class="mx-auto">
                <!-- Old password -->
                <tr style="height: 44px;">
                    <td class="text-end fw-medium">Mật khẩu cũ:</td>
                    <td><input id="password" name="password" type="password"
                            class="mx-3 rounded-3 text-black w-100 required"></td>
                </tr>
                <!-- New password -->
                <tr style="height: 44px;">
                    <td class="text-end fw-medium">Mật khẩu mới:</td>
                    <td><input id="newpassword" name="newpassword" type="password"
                            class="mx-3 rounded-3 text-black w-100 required"></td>
                </tr>
                <!-- Confirm password -->
                <tr style="height: 44px;">
                    <td class="text-end fw-medium">Xác nhận mật khẩu:</td>
                    <td><input id="confirmpassword" name="confirmpassword" type="password"
                            class="mx-3 rounded-3 text-black w-100 required"></td>
                </tr>

                <!-- Submit -->
                <tr style="height: 44px;">
                    <td></td>
                    <td class="text-end">
                        <input type="submit" class="mx-3 px-3 rounded-3 bg-yellow hover-bg-green border-0 fw-medium"
                            value="Xác nhận">
                    </td>
                </tr>
            </table>
        </form>
        <div class="alert alert-success" id="msg-success" role="alert" style="display: none;">
            This is a success alert—check it out!
        </div>
        <div class="alert alert-danger" id="msg-failed" role="alert" style="display: none;">
            This is a danger alert—check it out!
        </div>
    </div>
</div>